*{
margin: 0px;
padding: 0px;

}


.headerindex{
    height: 100%;
    width: 100%;
}

.imagenportada{
    height: 500px;
    
}

.imagen{
    height: 100%;
    width: 100%;
}

.event{
    width: 100%;
    background-color: rgb(168, 151, 130);
    
}
.eventoh2{
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  height: 40px;
  padding-top: 15px;
}


.sectionindex{
    background-color: antiquewhite;
}



.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
  height: 200px;
  flex-direction: column;
  padding-top: 50px;
}


.enlaces a {
    background-color: rgb(0, 0, 0);
    color: rgb(218, 207, 207);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
    margin: 4px;    
}


.enlaces{
    text-align: end;
  position: relative;
  top: 15px;
  font-size: 16px;
  display: flex;
  
} 


    
 .h1{
    font-size: 30px;
    font-family: sans-serif;}


.titulo{
    font-family: sans-serif;
    color: rgb(13, 13, 13);
    font-size: 40px;
    text-align: center;
}

.sectionindex{
    height: 600px;
    display: flex;
    flex-direction: column;
    
}

.divlogo{
    width: 150px;
    height: 150px;
}


.logo{
    height: 100%;
    width: 100%;
}

.articlepartidos{
    padding-left: 10px;
    padding-top: 30px;
    width: 40%;
  display: flex;
  justify-content: space-between;
  height: 600px;
}



.copyridge{
    background-color: antiquewhite;
    text-align: center;
    font-size: 15px;
}

.imagen1{
    height: 200px;
    width: 200px;
    border-radius: 4px;
}


.h3partidos{
   padding-bottom: 15px;
}

.imagen{

    width: 100%;
    height: 100%;
}

.sectionmdhl{
    height: 900px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    
    
}

.articlemdhl{
display: flex;
height: 800px;
justify-content: space-around;
}

.imagenmdhl{
    width: 250px;
    height: 250px;
    padding-right: 20px;
}

.fechasmdhl{
    width: 80%;
}
.fechas{

    margin-left: 20px;
    margin-top: 15px;
}

.fechasm{

    width: 50%;
  justify-content: right;
  margin: 20px;

}

.h3partidosmdhl{
    padding-bottom: 10px;
}




/* reglas page */

.reglasnav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.classtitlereglas{
    font-size: 18px;
}



.sectionreglas{
    width: 90%;
    margin-left: 50px;
}


.divreglas{
    margin-bottom: 15px;
}


.articuloreglas1{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}


.dlreglas{
    font-size: 18px;
}

.articleallplay{
    margin-top: 15px;
    margin-bottom: 15px;
}

.classallplay{
    font-size: 20px;
}

.classallplay{
    padding: 1rem;
}


.classallplayoriginal{
    padding-top: 15px;
}



.trclass{
    padding-bottom: 45px;
}


.headergame{
    margin-left: 50px;
}


.titulogame{
    text-align: center;
    padding-top: 25px;
}

.h3game{
    text-decoration: underline;
    padding-top: 15px;
    padding-bottom: 25px;
}


.tablegame{
    width: 600px;
    margin-bottom: 55px;
}


.articlegame{
    display: flex;
    
}

.articlegame2{
    display: flex;
    margin-top: 15px;
    
}

.articlegame3{
    display: flex;
    margin-top: 25px;
    
}


.articledatos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 45px;
}


.articlegame4{
    display: flex;
}

.articlegame5{
    display: flex;
    align-items: center;
}



.pgame{
    padding-left: 5px;
    font-size: 18px;
}

.pgame2{
    padding-left: 5px;
    font-size: 18px;
}


.pgame3{
    padding-left: 5px;
    font-size: 18px;
}

.pgame4{
    padding-left: 5px;
    font-size: 18px;
    
}

.pgame5{
    padding-left: 5px;
    font-size: 20px;
    color: black;
    
}


.trclassfinal{
    margin-bottom: 25px;
}




.sectiongame{
    margin-left: 50px;
    padding-top: 35px;
}

/*aca esta la seccion de registros*/


.tituloform{

display: flex;
justify-content: center;
margin-top: 30px;
font-size: 50px;


}

.article1{

    display: flex;
    flex-direction: column;
    margin-top: 50px;
  
}

.divpregunta{
    padding-top: 15px;
}


.inputformulario {
    border: none;
    border-bottom: 1px solid black; 
    outline: none;
}

.form1{
    width: 100%;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-bottom: 20px;
}
.label1{

    margin-left: 20px;
    
   
}

.city{
    border: none;
    border-bottom: 1px solid black; 
    outline: none;
   
  
   
}



.zip1{
    border: none;
    border-bottom: 1px solid black; 
    outline: none;
    
  

}


.formfinal{
    padding-left: 20px;
    padding-top: 10px;
}

.form-group{
    padding-top: 10px;
}

.fechainput{
    border: none;
    border-bottom: 1px solid black; 
    outline: none;
}




.divfinal{
    justify-content: space-around;
    display: flex;
    width: 50%;
    padding: 10px;
}

.articlefinal{
    padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2registro{
    padding-top: 10px;
}


.divuniform{
    display: flex;
  height: 150px;
  justify-content: space-around;
  width: 50%;
  padding-top: 25px;

}

.articlepermiso{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.bodyregistro{
    background-color: antiquewhite;
}

.maps-container{
    width: 6rem;
    height: 6rem;
    padding: 5px;
}

.maps{
    width: 100%;
    height: 50%;

}
    
.divmapa{
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
}


.articlemaps{
display: flex;
flex-direction: column;
}

  
